.home-container {
    /* Background settings */
    background-image: url('Backg.jpeg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    height: 100vh;                
    width: 100%;           
    z-index: -1;        
}


p{
    color: black;
}